:root {
  --border-size: 0.0625rem;

  --box-shadow: 0 0.125rem 0.25rem #00000059;

  --button-height: 2.25rem;
  --button-width: 8.75rem;

  --colors-accent: #FC6200;
  --colors-accent-dark: #C12F00;
  --colors-black: #000000;
  --colors-gray: #272727;
  --colors-gray-dark: #191919;
  --colors-gray-light: #4A4A4A;
  --colors-state-failure: #B71C1C;
  --colors-state-success: #1B5E20;

  --font-color-dark: #111111;
  --font-color-light: #FFFFFF;
  --font-family: 'Roboto';
  --font-size: 16px;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1rem;
  --font-size-h3: 0.9375rem;
  --font-size-h4: 0.75rem;
  --font-size-p: 0.875rem;
  --font-weight-black: 900;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --input-border-color: #C8D6D9;
  --input-height: 2.25rem;
  --input-hover-color: #E1E1E1;
  --input-width: 16.25rem;

  --layout-normal-areas:
    "header header"
    "aside form"
    "aside table";
  --layout-normal-template:
    6.25rem minmax(10rem, auto) minmax(14.75rem, auto) / minmax(auto, 18.125rem) 1fr;
  --layout-small-areas:
    "header"
    "aside"
    "form"
    "table";
  --layout-small-template:
    6.25rem repeat(3, auto) / 1fr;

  --screen-width-min: 400px;
  --screen-width-max: 1280px;

  --spacing-huge: 2.5rem;
  --spacing-large: 1.875rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.625rem;
  --spacing-tiny: 0.3125rem;

  --table-col-width: 8.75rem;

  --text-container-height: 2.5rem;
}

* {
  box-sizing: border-box;
  color: var(--font-color-light);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.5s;
}

::selection {
  background: var(--colors-accent);
  color: var(--font-color-dark);
}

html,
body {
  background: var(--colors-gray-light);
  height: 100%;
  width: 100%;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-regular);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-regular);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-black);
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
}

p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
}

input {
  border: var(--border-size) solid var(--input-border-color);
  box-shadow: var(--box-shadow);
  color: var(--font-color-dark);
  height: var(--input-height);
  outline: none;
  padding: 0 var(--spacing-small);
  width: var(--input-width);
}

input:hover {
  background: var(--input-hover-color);
  cursor: text;
}

button {
  background: var(--colors-accent);
  border: var(--border-size) solid var(--colors-accent);
  box-shadow: var(--box-shadow);
  height: var(--button-height);
  width: var(--button-width);
}

button:hover {
  background: var(--colors-accent-dark);
  border: var(--border-size) solid var(--colors-accent-dark);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

table {
  border: var(--border-size) solid var(--colors-black);
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead {
  background: var(--colors-black);
}

tr {
  border: var(--border-size) solid var(--colors-black);
  height: var(--text-container-height);
}

tbody tr {
  background: var(--colors-gray-dark);
}

th,
td {
  padding: 0 var(--spacing-small);
  position: relative;
  text-align: left;
  width: var(--table-col-width);
}

th+th,
td+td {
  width: auto;
}

td:last-child::before {
  border-left: var(--border-size) solid var(--colors-black);
  bottom: 0.5rem;
  content: "";
  left: 0;
  position: absolute;
  top: 0.5rem;
  width: var(--border-size);
}

#header {
  align-items: center;
  background: var(--colors-black);
  display: flex;
  grid-area: header;
  margin-bottom: var(--spacing-tiny);
  overflow: hidden;
  padding: 0 var(--spacing-large);
  position: relative;
}

#header-ribbon {
  background: var(--colors-accent);
  display: flex;
  flex-flow: column;
  height: 1.75rem;
  justify-content: center;
  position: absolute;
  right: -3rem;
  text-align: center;
  top: 1rem;
  transform: rotate(45deg);
  width: 10rem;
}

#aside {
  grid-area: aside;
  margin: var(--spacing-tiny);
}

#form {
  grid-area: form;
  margin: var(--spacing-tiny);
}

#table {
  grid-area: table;
  margin: var(--spacing-tiny);
}

#main {
  align-content: start;
  display: grid;
  grid-template: var(--layout-small-template);
  grid-template-areas: var(--layout-small-areas);
  margin: 0 auto;
  max-width: var(--screen-width-max);
  min-width: var(--screen-width-min);
  padding: var(--spacing-huge);
}

@media (min-width: 600px) {
  #main {
    grid-template: var(--layout-normal-template);
    grid-template-areas: var(--layout-normal-areas);
  }
}

.card {
  background: var(--colors-gray);
}

.card .card-title {
  align-items: center;
  background: var(--colors-black);
  display: flex;
  height: var(--text-container-height);
  padding: 0 var(--spacing-medium);
}

.card .card-content {
  padding: var(--spacing-medium);
}

#aside.card .card-content {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-medium);
}

#form.card .card-content {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-medium);
  height: calc(100% - var(--text-container-height));
}

.transparent {
  background: transparent;
  color: transparent;
}

@keyframes append-transition-success {
  from {
    background: var(--colors-state-success);
  }

  to {
    background: var(--colors-gray-dark);
  }
}

@keyframes append-transition-failure {
  from {
    background: var(--colors-state-failure);
  }

  to {
    background: var(--colors-gray-dark);
  }
}

.success {
  animation: append-transition-success 1s linear;
}

.success:hover {
  background: var(--colors-state-success);
  transition: background-color;
}

.failure {
  animation: append-transition-failure 1s linear;
}

.failure:hover {
  background: var(--colors-state-failure);
  transition: background-color;
}